.header {
    position: sticky;
    z-index: 9999;
    top: 0;
    padding: 24px 0;
    background-color: #f2f4f7;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 101px;
    height: 16px;
}

.navList {
    display: flex;
    gap: 32px;
}

.navLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.active {
    color: #0b44cd;
}