.bookingForm {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 1px solid #dadde1;
    border-radius: 10px;
}

.formTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin-bottom: 8px;
}

.formText {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #8d929a;
    margin-bottom: 24px;
}

.input {
    padding: 14px 20px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 12px;
    outline: none;
    background-color: #f7f7f7;
    font-weight: 500;
    line-height: 1.25;
    border: 1px solid transparent;
    transition: border 250ms linear;

    &::placeholder {
        color: #8d929a;
    }

    &:hover {
        border: 1px solid #0b44cd;
    }

    &:focus {
        border: 1px solid #0b44cd;
    }
}

.textarea {
    resize: none;
    padding: 12px 20px;
    width: 100%;
    border-radius: 12px;
    outline: none;
    background-color: #f7f7f7;
    margin-bottom: 24px;
    font-weight: 500;
    line-height: 1.25;
    transition: border 250ms linear;
    border: 1px solid transparent;

    &::placeholder {
        color: #8d929a;
    }

    &:hover {
        border: 1px solid #0b44cd;
    }

    &:focus {
        border: 1px solid #0b44cd;
    }
}

.submitButton {
    display: inline-block;
    margin: 0 auto;
    padding: 12px 58px;
    max-width: 156px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #FFFFFF;
    background-color: #3470ff;
    border-radius: 12px;
    transition: background-color 250ms linear;

    &:hover {
        background-color: #0b44cd;
    }

    &:focus {
        background-color: #0b44cd;
    }
}